$clr-orange: #FF7E1B;
$clr-white: #ffffff;
$clr-light-grey: #F6F8FD;
$clr-med-grey: #69707D;
$clr-med-grey2: #B6BCC8;
$clr-almost-black: #1D2026;
$clr-black: #000000;


$spacer-19: 1.1875rem;
$spacer-24: 1.5rem;
$spacer-28: 1.75rem;

$fs-12: 0.75rem;
$fs-16: 1rem;
$fs-18: 1.125rem;
$fs-28: 1.75rem;

