@use 'sass:math';
@use '../abstract';

.App {
    min-height: 100vh;
}

.container {
    padding-inline: abstract.$spacer-24;

    @include abstract.mQ(38.75rem) {
        padding-inline: abstract.$spacer-28;
    }

    @include abstract.mQ(61.25rem) {
        padding-inline: 10.3125rem;
    }
}

.main {

    @include abstract.mQ(38.75rem) {
        display: flex;
       padding-inline: abstract.$spacer-28;
        gap: abstract.$spacer-24;
    }
}