@use 'sass:math';
@use '../abstract';

.carousel {
    position: relative;   
    width: 100%;
    margin: 0 auto;

     @include abstract.mQ(38.75rem) {
        flex: 1 1 50%;
    }
}

.carousel-track {
    position: relative;   
    transition: transform 250ms ease-in;
    @include abstract.mQ(38.75rem) {
        transition: none;
    }
}

.carousel-slide {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    bottom: 0;
}

.carousel-track-container {
    min-height: 18.75rem;
    position: relative;
}

.carousel-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    background-color: abstract.$clr-white;
}

.carousel-button-left {
	left: 1rem;
}

.carousel-button-right {
    right: 1rem;
}

.carousel-nav {
    //background-color: yellow;
    // position: relative;
    display: flex;
    justify-content: center;
    gap: .5rem;
    width: 70%;
    margin: auto;
}

.carousel-nav-hide {
    display: none;
}

.carousel-indicator {
    border: none;
    outline: none;
    padding: 0;
    border-radius: 10px;
    overflow: hidden;
}
