@use 'sass:math';
@use '../abstract';

.carousel {
    position: relative;
    width: 100%;
    margin: 0 auto;

    @include abstract.mQ(42.5rem) {
        flex: 1 1 50%;
    }
}

.carousel-track {
    position: relative;
   // transform:scale(1.3);
    transition: transform 250ms ease-in;
   // min-height: 18.75rem;

    @include abstract.mQ(42.5rem) {
      //  transition: none;
     //   min-height: 24.75rem;
    }

    @include abstract.mQ(61.25rem) {
    //    min-height: 27.8125rem;
    //    min-width: 27.8175rem;
    }
}

.carousel-slide {
  //  position: absolute;
    width: 100%;
  //  top: 0;
  //  bottom: 0;
  //  border-radius: 15px;
    overflow: hidden;
}

.carousel-image {
    height: 100%;
    width: 100%;
    object-fit: cover;

    @include abstract.mQ(42.5rem) {
       // border-radius: 15px;
    }

    @include abstract.mQ(61.25rem) {
        height: 100%;
       // border-radius: 15px;
    }
}

.carousel-track-container {
   // min-height: 18.75rem;
    position: relative;

    @include abstract.mQ(42.5rem) {
        min-height: 27.8125rem;
    }
}

.carousel-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    background-color: abstract.$clr-white;

    @include abstract.mQ(42.5rem) {
        display: none;
    }
}

.carousel-button-left {
    left: 1rem;
}

.carousel-button-right {
    right: 1rem;
}

.carousel-nav {
    display: flex;
    justify-content: center;
    gap: .5rem;
    width: 70%;
    margin: auto;

    @include abstract.mQ(42.5rem) {
        width: 100%;
    }
}

.carousel-nav-hide {
    display: none;

    @include abstract.mQ(42.5rem) {
        display: flex;
    }

    @include abstract.mQ(61.25rem) {
        margin-block-start: abstract.$spacer-28;
    }
}

.carousel-indicator {
    border: none;
    outline: none;
    padding: 0;
    border-radius: 10px;
    overflow: hidden;

    &:focus,
    &:hover {
        cursor: pointer;
        opacity: 0.4;
    }
}

.carousel-image-btn {
    border: none;
    padding: 0;
    margin: 0;
    pointer-events: none;
    @include abstract.mQ(42.5rem) {
        border-radius: 15px;
        overflow: hidden;
    }
    @include abstract.mQ(61.25rem) {
        pointer-events: visible;
    }
}

.carousel-image-modal {
	border-radius: 15px;
}