@use 'sass:math';
@use '../abstract';

.checkout-container {
    position: absolute;
    background: abstract.$clr-white;
    width: 90%;
    max-width: 25rem;
    left: 0;
    z-index: 1;
    left: 50%;
    margin-left: -45%;
    top: 0;
    padding: .5rem 1rem;
    border-radius: 10px;
    box-shadow: 1px 1px 1px 1px abstract.$clr-med-grey;
    img {
        width: 3.125rem;
        height: 3.125rem;
        border-radius: 4px;
    }

    @include abstract.mQ(42.5rem) {
       left: auto;
       right: 5%;
    }

    @include abstract.mQ(61.25rem) {
        right: 0;
    }
}

.hide-checkout {
    display: none;
}

.delete-cart {
    background-color: transparent;
    border: none;

    img {
        width: 0.875rem;
        height: 1rem;

    }
}

.checkout-list-title,
.checkout-list-details {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.6;
}

.btn-checkout {
    background-color: abstract.$clr-orange;
    border-radius: 10px;
    border: none;
    color:abstract.$clr-white;
    display: block;    
    max-width: 20rem;
    margin-block: 1.5rem;
    padding: 1rem;
    width: 100%;   
   
}