@use 'sass:math';
@use '../abstract';

.header {
    padding-block: abstract.$spacer-19;

    @include abstract.mQ(42.5rem) {
        padding-block: abstract.$spacer-28;
    }

    @include abstract.mQ(61.25rem) {}
}

.nav {
    position: relative;

    @include abstract.mQ(42.5rem) {
        gap: abstract.$spacer-24;
        border-block-end: 1px solid #979797;
        padding-block-end: abstract.$spacer-28;
    }

    @include abstract.mQ(61.25rem) {
        gap: abstract.$spacer-28;
        padding-block-end: abstract.$spacer-16 * 2;
    }
}

.profile,
.cart-summary,
.open-modal-nav {
    background-color: transparent;
    border: none;
}

.open-modal-nav {

    &:focus,
    &:hover {
        cursor: pointer;
        outline: dashed currentColor;
        outline-offset: 0.5em;
    }
}

.profile,
.cart-summary {
    position: relative;

    &:focus,
    &:hover {
        cursor: pointer;
        outline: dashed currentColor;
        outline-offset: 0.025em;
    }
}

.profile {
    display: flex;
    justify-content: flex-start;
    width: 24%;

    @include abstract.mQ(42.5rem) {
        width: 100%;
        justify-content: flex-end;
    }
}

.profile-image {
    @include abstract.mQ(42.5rem) {
        max-width: 3.125rem;
    }
}

.product-summary {
    justify-content: flex-end;
    gap: .75rem;

    @include abstract.mQ(42.5rem) {
        flex: 1 1 15%;
    }

    @include abstract.mQ(61.25rem) {
        justify-content: space-between;
    }
}

.open-modal-nav {
    @include abstract.mQ(42.5rem) {
        display: none;
    }
}

.menu-control {
    gap: abstract.$spacer-19;

    @include abstract.mQ(42.5rem) {
        flex: 1 1 15%;
    }
}

.modal-menu {
    position: absolute;
    top: -(abstract.$spacer-19);
    left: -710px;
    background-color: abstract.$clr-light-grey;    
    width: 100vw;
    min-height: 100vh;
    z-index: 10;

    @include abstract.mQ(42.5rem) {
        background-color: abstract.$clr-white;
        position: relative;
        min-height: auto;
        box-shadow: none;
        left: auto;
        top: auto;
        flex: 1 1 70%;
    }
}

.modal-active {
    display: flex;
    left: -(abstract.$spacer-24);
    transition: all 300ms ease-in-out;
    background-color: transparent;

    @include abstract.mQ(42.5rem) {
        left: auto;
    }
}

.cart-number {
    align-items: center;
    background: abstract.$clr-orange;
    border-radius: 50%;
    color: abstract.$clr-white;
    display: flex;
    font-size: 0.625rem;
    height: 1rem;
    justify-content: center;
    left: -0.5rem;
    padding: 0.5rem;
    position: relative;
    top: -0.5rem;
    width: 1rem;
}

.cart-number-hide {
    display: none;
}

.open-modal-nav {
    position: relative;
    z-index: 100;
}

.close-btn {
    position: absolute;
    top: 0;
    left: 0;
}

.hide-nav-btn {
    display: none;
}

.nav-list {
    background-color: abstract.$clr-white;
    padding-top: abstract.$spacer-24 * 3;
    padding-left: abstract.$spacer-24;
    flex: 1 1 66.6%;
    display: flex;
    flex-direction: column;
    gap: abstract.$spacer-24;

    @include abstract.mQ(42.5rem) {
        flex-direction: row;
        margin-top: auto;
        margin-left: auto;
        padding-top: 0;
        padding-left: 0;
    }

    @include abstract.mQ(61.25rem) {
        gap: abstract.$spacer-28;
    }
}

.decorative {
    flex: 1 1 33.4%;
    background: abstract.$clr-almost-black;
    opacity: 0.8;

    @include abstract.mQ(42.5rem) {
        height: 0;
        width: 0;
        background-color: transparent;
    }
}

.nav-list-item-btn {
    color: abstract.$clr-almost-black;
    font-size: abstract.$fs-18;
    text-decoration: none;
    font-weight: 700;
    position: relative;
    outline: none;
    border: none;

    &:hover,
    &:focus {
        &::before {
            position: absolute;
            content: "";
            height: 2px;
            width: 100%;
            background-color: abstract.$clr-orange;
            top: 2rem;
        }
    }

    @include abstract.mQ(42.5rem) {
        font-size: abstract.$fs-15;
        font-weight: 300;

        &:hover,
        &:focus {
            &::before {
                top: 2rem;
            }
        }
    }
}

.show-overlay {
    background-color: abstract.$clr-med-grey;

    @include abstract.mQ(42.5rem) {
        background-color: abstract.$clr-white;
    }
}